@use "../functions/sizeUnites" as *;
@use "../mixins/breakpoints" as *;

.country-info {
  width: 80%;
  margin-left: 10%;

  .container {
    @include breakpoint-up("xLarge") {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: rem(120);
    }
  }
  &__flag {
    margin-bottom: rem(100);
  }

  &__content {
    h3 {
      font-size: rem(43);
      margin-bottom: rem(126);
      @include breakpoint-up("xLarge") {
        font-size: rem(30);
        margin-bottom: rem(40);
      }
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: rem(100);
      @include breakpoint-up("xLarge") {
        grid-template-columns: repeat(2, 1fr);
      }

      ul {
        list-style: none;
        li:not(:last-child) {
          margin-bottom: rem(39);
          @include breakpoint-up("xLarge") {
            margin-bottom: rem(20);
          }
        }

        li {
          font-size: rem(27);
          font-weight: 300;
          span {
            font-weight: 600;
          }
          @include breakpoint-up("xLarge") {
            font-size: rem(16);
          }
        }
      }
    }

    .border {
      margin-bottom: rem(46);
      margin-top: rem(46);
      @include breakpoint-up("xLarge") {
        margin-top: rem(75);
      }
      h5 {
        font-size: rem(32);
        font-weight: 600;
        margin-bottom: rem(46);
      }
      ul {
        list-style: none;
        gap: rem(20);
        flex-wrap: wrap;
        li {
          margin: 0;
        }
      }
    }
  }
}
